# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\AhmetEren.ErenBilgisayarı\Documents\GitHub\full-stack-developer-egitimi\odevler\ahmet-eren-atalay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
